@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto:wght@300;400;500;700&display=swap');
html{
   box-sizing: border-box;
   height: 100%;
}

*,
*::before,
*::after{
   box-sizing: inherit;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}

h2 {
   text-align: center;
}

body {
   overflow-x: hidden;
   background-color: #ffffff;
   font-family: 'Roboto', sans-serif;
   line-height: 1.2;
}

// font-family: 'Open Sans', sans-serif;

.wrapper {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   min-height: 100%;
   overflow: hidden;
}

.content {
   flex: 1 0 auto;
}

.container {
   max-width: 1200px;
   padding: 0 30px;
   margin: 0 auto;
   background-color: rgb(195, 211, 240);
}

.header {
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 85px;
      z-index: 4;
   }
   &__nav {
      &-list {
         display: flex;
      }
      &-item {
         display: flex;
         height: 80px;
         align-items: center;
         text-transform: uppercase;
         &--middle {
            margin: 0 52px;
         }
      }
      &-link {
         font-size: 14px;
         color: #000000;
         text-decoration: none;
         &--contacts {
            padding: 10px 30px;
            background-color: #00aeef;
            border-radius: 5px;
            color: #ffffff;
            border: 0.2px solid transparent;
            &:hover {
               border: 0.2px solid #006d96;
               background-color: #fff;
               color: #006d96;
               text-decoration: none;
            }
         }
      }
   }
   &__phone {
      margin-right: 20px;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000000;
   }
}

.logotype {
   &__link {
      font-family: 'Open Sans';
      font-size: 25px;
      margin-bottom: 5px;
      font-weight: 700;
      color: #00aeef;
      text-decoration: none;
   }
   &__descr {
      display: block;
      font-size: 11px;
      font-weight: 300;
      color: #000000;
   }  
}

.header__nav-item--middle {
   position: relative;
}
.header__nav-item--middle:hover {
   .nav-menu {
      display: block;
   }
}
.nav-menu {
   display: none;
   position: absolute;
   top: 83px;
   z-index: 3;
   &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: max-content;
      height: 100%;
      padding: 30px;
      background-color: #fff;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
   }
   &__link {
      font-size: 16px;
      text-transform: none;
      color: #000000;
      font-weight: 300;
   }
   &__pnt {
      margin-bottom: 16px;
   }
}
.nav-menu__pnt:last-child {
   margin-bottom: 0;
}


.slider-conteiner {
   position: relative;
   overflow: hidden;
   margin-bottom: 93px;
}
.swiper-item {
   height: 465px;
   &-img {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
   }
}
.swiper-arrows {
   position: relative;
   bottom: 220px;
}
.slider-button-next {
   right: 0;
}
.slider-button-prev {
   left: 0;
}
.customers-button-next::after,
.customers-button-prev::after,
.slider-button-next::after,
.slider-button-prev::after {
   color: #2b5689;
   font-size: 35px;
}

.swiper-pagination {
   bottom: -75px !important;
   margin-left: 10%;
   text-align: left;
}
.swiper-pagination-bullet {
   width: 14px;
   height: 14px;
   background: transparent;
   border: 0.1px solid #878787;
}
.swiper-pagination-bullet-active {
   background-color: #d0d0d0;
}

.text-box {
   position: absolute;
   padding: 38px 37px 22px 54px;
   top: 115px;
   left: 65px;
   max-width: 591px;
   text-align: justify;
   background-color: rgba(255,255,255,0.83);
   z-index: 2;
   &__title {
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
      color: #000125;
      line-height: 1.2;
      margin: 0 0 10px 0;

   }
   &__text {
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;
      color: #000800;
      margin: 0;
   }
}

.paragraph {
   &__inner {
      text-align: center;
   }
   &__title {
      font-size: 36px;
      font-weight: 300;
   }
   &__descr {
      font-size: 18px;
      font-weight: 300;
   }
}

.production {
   &__inner {
      display: grid;
      grid-gap: 30px 18px;
      margin-bottom: 100px;
   }
   &__title {
      font-size: 30px;
      text-align: center;
      font-weight: 300;
      color: #000000;
   }
   &__box {
      display: grid;
      grid-gap: 18px;
      &--1 {
         grid-template-columns: 1fr 1fr 1fr;
      }
      &--2 {
         grid-template-columns: 66% 33%;
      }
   }
   &__speclink {
      position: absolute;
      padding: 5px 15px;
      color: #fff;
      z-index: 3;
      &--1 {
         right: 0;
         background-color: #754c24;
      }
      &--2 {
         left: 0;
         top: 20px;
         background-color: #b48a0a;
      }
   }
   &__item {
      height: 260px;
      text-align: center;
      background-color: #fff;
      &-inner {
         position: relative;
         display: flex;
         flex-direction: column;
         align-items: center;
         height: inherit;
      }
      &-content {
         width: 100%;
         height: 100%;
         border: 0.1px solid #b4b4b4;
         z-index: 2;
         &--3 {
            position: absolute;
            top: 106px;
            border: none;
         }
         &--4 {
            position: absolute;
            top: 155px;
            height: auto;
            border: none;
         }
      }
      &-title {
         font-weight: 400;
         &--1 {
            font-size: 18px;
            max-width: 250px;
            margin: 13px auto;
         }
         &--2 {
            font-size: 20px;
            margin: 22px auto;
         }
         &--3 {
            font-size: 20px;
            color: #fff;
         }
         &--4 {
            margin-top: 28px;
         }
      }
      &-btn {
         padding: 8px 35px;
         font-size: 14px;
         line-height: 1.2;
         font-weight: 500;
         color: #ffffff;
         background-color: #00aeef;
         border-radius: 5px;
         &:hover {
            background-color: #fff;
            border: 1px solid #00aeef;
            color: #00aeef;
         }
      }
   }
   &__image {
      height: 150px;
      width: 100%;
      &-img {
         height: 150px;
         width: 100%;
         background-size: contain;
         background-repeat: round;
         &--2 {
            height: 260px;
         }
         &--3 {
            height: 260px;
         }
      }
   }
   &__background {
      position: absolute;
      width: 100%;
      height: 99%;
      top: 0;
      bottom: 0;
      z-index: 2;
      background-color: rgba(0,0,0,0.5);
   }
}

.benefits {
   &__inner {
      margin-bottom: 100px;
   }
   &__title {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 50px;
   }
   &__row {
      display: flex;
      justify-content: space-between;
      text-align: center;
   }
   &__item {
      display: block;
      max-width: 200px;
   }
   &__image {
      height: 95px;
   }
   &__text {
      font-size: 16px;
      font-weight: 300;
   }
}

.customers {
   background-color: #f9f9f9;
   &__container {
      overflow-x: hidden;
      text-align: center;
   }
   &__title {
      margin-bottom: 70px;
      font-size: 30px;
      font-weight: 300;
   }
   &__item {
      width: 150px;
      height: 120px;
      display: grid;
      align-items: center;
      justify-items: center;
   }
}

.customers__inner {
   position: relative;
   margin-bottom: 50px;
}

.customers-arrows {
   display: contents;
}

.customers-button-next {
   right: -15px;
}

.customers-button-prev {
   left: -15px;
}

.customers-arrows,
.customers-button-next,
.customers-button-prev {
   position: absolute;
   top: 150px;
}


.footer {
   background-color: #e3e3e3;
   &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 180px;
      align-content: center;
   }
   &__item {
      display: flex;
      flex-direction: column;
      justify-self: center;
      justify-content: space-between;
      height: 100px;
      & a {
         display: block;
      }
      &-content {
         &-big {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100px;
         }
      }
   }
   &__phone {
      font-size: 18px;
      color: #000000;
   }
   &__link {
      font-size: 14px;
      text-transform: uppercase;
      color: #000000;
   }
   &__privacy {
      font-family: 'Open Sans';
      font-size: 11px;
      line-height: 1.2;
      font-weight: 300;
      color: #000000;
   }
   &__socials {
      &-list {
         padding: 0;
      }
      &-pnt {
         display: inline-block;
      }
      a {
         width: 24px;
         height: 24px;
         background-image: url(../images/ikonki_sotssetey_aktivnye_3804.png);
         & + a {
            margin-right: 7px;
         }
      }
      &-facebook {
         background-position: 0px 0px;
      }
      &-vk {
         background-position: -30px 0px;
      }
      &-odnoklassniki {
         background-position: -60px 0px;
      }
      &-youtube {
         background-position: -90px 0px;
      }
      &-instagram {
         background-position: -120px 0px;
      }
   }
}

.footer__link:first-child,
.footer__phone:first-child {
   margin-bottom: 12px;
}


@media (max-width: 1024px) {
   .production__box--2 {
      grid-template-columns: 66% 32.5%;
   }
}

@media (max-width: 992px) {
   .production__box--2 {
      grid-template-columns: 66% 32%;
   }
}

@media (max-width: 960px) {
   .header {
      &__inner {
         height: 65px;
      }
      &__item {
         height: 70px;
      }
   }
   .nav-menu {
      top: 67px;
      &__list {
         padding: 20px;
      }
      &__link {
         font-size: 14px;
      }
   }
   .text-box {
      top: 140px;
      left: 40px;
      &__title {
         font-size: 23px;
      }
      &__text {
         font-size: 18px;
      }
   }
   .paragraph {
      &__inner {
         margin-bottom: 50px;
      }
      &__descr {
         font-size: 16px;
      }
   }
   .benefits__image {
      height: 80px;
   }
   .paragraph__title,
   .production__title,
   .benefits__title,
   .customers__title {
      font-size: 28px;
   }
   .customers__title {
      margin-bottom: 50px;
   }
   .footer__phone,
   .footer__link {
      font-size: 14px;
   }
}

@media (max-width: 823px) {
   .header__nav-link--contacts {
      padding: 8px 20px;
   }
   .header__phone {
      font-size: 14px;
   }
   .header__nav-link {
      font-size: 12px;
   }
   .text-box__title {
      font-size: 22px;
   }
   .swiper-item {
      height: 400px;
   }
   .swiper-arrows {
      position: relative;
      bottom: 195px;
   }
   .text-box {
      top: 110px;
      &__title {
         font-size: 20px;
      }
      &__text {
         font-size: 16px;
      }
   }
   .paragraph__descr {
      font-size: 14px;
   }
   .production__inner {
      grid-gap: 25px 18px;
   }
   .production__box--2 {
      grid-template-columns: 66% 31.8%;
   }
   .production__item-title {
      &--1 {
         font-size: 15px;
      }
      &--2 {
         font-size: 17px;
      }
      &--3 {
         font-size: 17px;
      }
      &--4 {
         font-size: 16px;
      }
   }
   .paragraph__title,
   .production__title,
   .benefits__title,
   .customers__title {
      font-size: 26px;
   }
   .benefits__image {
      height: 75px;
   }
   .benefits__text {
      font-size: 13px;
   }
   .production__item-btn {
      padding: 7px 25px;
      font-size: 13px;
   }
   .customers__item-img {
      max-height: 65px;
   }
   .customers-button-next::after,
   .customers-button-prev::after,
   .slider-button-next::after,
   .slider-button-prev::after {
      font-size: 30px;
   }
   .customers-arrows, 
   .customers-button-next, 
   .customers-button-prev {
      top: 140px;
   }
   .swiper-pagination {
      bottom: -60px !important;
   }
   .paragraph__inner {
      margin-bottom: 45px;
   }
   .footer__phone,
   .footer__link {
      font-size: 12px;
   }
}

@media (max-width: 768px) {
   .logotype__link {
      font-size: 22px;
   }
   .nav-menu {
      top: 72px;
      &__list {
         padding: 15px;
      }
      &__pnt {
         margin-bottom: 13px;
      }
      &__link {
         font-size: 12px;
      }
   }
   
   .header__nav-link {
      font-size: 11px;
   }
   .header__nav-link--contacts {
      padding: 6px 12px;
   }
   .header__phone {
      font-size: 13px;
   }
   .swiper-item {
      height: 370px;
   }
   .text-box {
      padding: 30px 20px 20px 30px;
      &__text {
         font-size: 14px;
      }
   }
   .customers-button-next::after,
   .customers-button-prev::after,
   .slider-button-next::after,
   .slider-button-prev::after {
      font-size: 23px;
   }
   .paragraph__descr {
      font-size: 13px;
   }
   .production__item-title--3 {
      font-size: 15px;
      margin-bottom: 36px;
   }
   .benefits__image {
      height: 65px;
   }
   .benefits__text {
      font-size: 11px;
   }
   .benefits__inner {
      margin-bottom: 80px;
   }
   .customers__title {
      margin-bottom: 40px;
   }
   .footer__phone, .footer__link {
      font-size: 11px;
   }
   .customers-arrows, 
   .customers-button-next, 
   .customers-button-prev {
      top: 130px;
   }
}

@media (max-width: 736px) {
   .nav-menu__list {
      width: 300px;
   }
   .header__nav-item {
      height: 70px;
   }
   .header__nav-item--middle {
      margin: 0 35px;
   }
   .text-box__title {
      font-size: 18px;
   }
   .text-box__text {
      font-size: 12px;
   }
   .customers__item-img {
      max-width: 110px;
   }
   .benefits__image {
      height: 60px;
   }
   .production__item-title--3 {
      margin-bottom: 25px;
   }
   .paragraph__title, 
   .production__title, 
   .benefits__title, 
   .customers__title {
      font-size: 20px;
   }
}

@media (max-width: 700px) {
   .header__nav-item--middle {
      margin: 0 25px;
   }
   .nav-menu {
      top: 67px;
   }
   .footer__privacy,
   .logotype__descr {
      font-size: 10px;
   }
   .customers__item-img {
      max-width: 100px;
   }
   .customers__title {
      margin-bottom: 30px;
   }
   .benefits__image {
      height: 50px;
   }
}

@media (max-width: 667px) {
   .header__nav-link {
      font-size: 10px;
   }
   .header__phone {
      font-size: 11px;
   }
   .slider-conteiner {
      margin-bottom: 60px;
   }
   .text-box {
      padding: 25px 15px 20px 25px;
      left: 30px;
      max-width: 463px;
   }
   .slider-conteiner {
      margin-bottom: 80px;
   }
   .benefits__item {
      max-width: 157px;
   }
}